.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

ul.request {
  padding: 0px;
  list-style: none;
  border: 1px solid gray;
  width: 20%;
}

li.http {
  padding: 10px;
  border-bottom: 1px solid gray;
  text-align: center;
}

.payload {
  margin: auto;
  width: 30%;
  padding: 10px;
  top: 25%;
  left: 30%;
  position: absolute;
}

div.payload ul {
  list-style: none;
}

.red {
  color: red;
}

.green {
  color: green;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
